---
Language: Cpp
BasedOnStyle: LLVM
Standard: c++20
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 160
SortIncludes: Never
AccessModifierOffset: -4
SeparateDefinitionBlocks: Always
EmptyLineBeforeAccessModifier: LogicalBlock
...
